<ion-header [translucent]="true"  class="custom-header">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-select
            label="Tipo"
            [multiple]="true"
            interface="popover"
            label-placement="floating"
            [(ngModel)]="filter"
            (ionChange)="filterProducts()"
            >
              <ion-select-option value="Abarrotes">Abarrotes</ion-select-option>
              <ion-select-option value="Frutas y Verduras">Frutras y Verduras</ion-select-option>
              <ion-select-option value="Farmacia">Farmacia</ion-select-option>
              <ion-select-option value="Limpieza">Limpieza</ion-select-option>
            </ion-select>


          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size ="6" *ngFor="let product of productsFounds; index as i" >
          <ion-card>
            <img [src]="product.photo+i"/>
            <ion-card-header>
              <ion-card-title>{{product.name}}
                <ion-badge color={{product.color}}>{{product.category}}</ion-badge>
              </ion-card-title>
              <ion-card-subtitle>{{product.price | currency }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
             {{product.description}}
            </ion-card-content>
              <ion-button expand="block" color="success"
              (click)=setCar(product)>
                <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
              </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item *ngFor="let car of productsCar">
        <ion-icon slot="start" name="trash-bin-outline" (click)="removeProduct(car)" ></ion-icon>
        <ion-label color="primary">{{ car.name }} ({{ car.quantity }}) {{ car.price | currency }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>Total del carrito: {{ calculateTotal() | currency }}</ion-label>
      <ion-button expand="block" color="success"
      (click)=guardarVenta()>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
   </ion-item>



  </ion-content>


<!-- Para obtener la ip externa
  ionic serve --external -->
